.ecard-table {
    width: 100%;
    margin: 30px 0 20px;
}

.ecard-table th, .ecard-table td {
    padding: 10px 20px !important;
    border-bottom: 1px solid #fff !important;
    line-height: 30px;
    text-align: left;
}

.ecard-table th {
    font-weight: 400;
    background-color: #eee;
}

.ecard-table .item-empty {
    text-align: center;
}

.section-faq {
    padding: 25px 0;
}

.section-faq h3 {
    margin: 0 0 .75em;
    font-size: 16px;
    font-weight: 400;
}

.section-faq p {
    margin: 0 0 2em 30px;
    font-size: 14px;
    line-height: 1.8;
    color: #757575;
}
