.header-container {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.site-header .header-nav {
    padding-top: 21px;
}

.site-header .header-nav .nav-list {
    z-index: 10;
    font-size: 16px;
}

.site-header .header-nav .nav-list a {
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
}

.site-header .header-nav .nav-list a:hover {
    color: #ff6700;
}

.site-header .header-search {
    padding-top: 9px;
}

.site-header .header-search .search-col {
    padding-right: 0;
}

.site-header .header-search .button-col {
    padding-left: 0;
}

.site-header .header-search .search-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.site-header .header-search .search-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.site-header .header-search .search-button:hover {
    border-color: #ff6700;
    background: #ff6700;
    color: #fff;
}
