<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="user_center_layout">
<head>
    <link rel="stylesheet" href="/css/ecard.css" th:href="@{/css/ecard.css}"/>
</head>
<body>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css"/>

<div class="uc-box uc-main-box" layout:fragment="user_center_content">
    <div class="uc-content-box portal-content-box">
        <div class="box-hd">
            <h1 class="title">代金券</h1>
            <div class="more clearfix">
                <ul class="filter-list">
                    <li class="first">
                        <a th:href="@{/user/coupon/list}">我的代金券</a>
                    </li>
                    <li class="active">
                        <a th:href="@{/user/coupon/help}">常见问题</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="box-bd">
            <div class="section-faq">
                <h3>Q：代金券怎么使用？</h3>
                <p>您在提交订单时，选择使用代金券，即可看到您可使用的代金券。在不超过订单金额的情况下，同类代金券可以不限数量叠加使用。</p>
                <h3>Q：代金券的适用范围是什么？</h3>
                <p>代金券可用于购买实物商品。</p>
                <h3>Q：代金券的使用有效期？</h3>
                <p>您可以在代金券的有效期及余额内，不限次数重复使用。</p>
                <h3>Q：使用代金券购物，产生退款怎么办？</h3>
                <p>使用代金券购物产生的退货，退款金额将原路返回，系统优先返还代金券支付金额。即代金券支付的部分金额退还至原有代金券，现金支付的部分金额退还至原有银行卡或者支付宝。</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>
