<html xmlns:th="http://www.thymeleaf.org">
<body>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css"/>

<ol class="breadcrumb" th:fragment="normal(breadCrumbs)">
    <li class="breadcrumb-item" th:each="breadCrumb:${breadCrumbs}"
        th:with="name=${breadCrumb.name},link=${breadCrumb.link}" th:classappend="${breadCrumbStat.last?'active':null}">
        <a th:if="${link}" th:text="${name}" th:href="@{${link}}">有链接的面包屑</a>
        <span th:unless="${link}" th:text="${name}" th:remove="tag">无链接的面包屑</span>
    </li>
</ol>

</body>
</html>
