<html xmlns:th="http://www.thymeleaf.org">
<body>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css"/>
<footer class="panel-footer" th:fragment="normal">
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-xs-2">
                <img src="/image/logo/logo-64x64.png" th:src="@{/image/logo/logo-64x64.png}"/>
            </div>
            <div class="col-md-11 col-xs-10 info-text text-muted small">
                <p>浙 ICP 备 2333 号</p>
                <p>盗版举报电话: 123456789</p>
                <p>Mystery Develop Team 版权所有</p>
            </div>
        </div>
    </div>
</footer>

<footer th:fragment="minimum">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center nf-link-area">
                <ul class="list-inline list-unstyled">
                    <li><a href="" class="current">简体</a> |</li>
                    <li><a href="">繁体</a> |</li>
                    <li><a href="">English</a> |</li>
                    <li><a href="">常见问题</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center text-muted">
                <span>Mystery Develop Team 版权所有 - 浙 ICP 备 2333 号</span>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
