<html xmlns:th="http://www.thymeleaf.org">
<body>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css"/>
<footer class="panel-footer" th:fragment="normal">
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-xs-2">
                <img src="/image/logo-64x64.png" th:src="@{/image/logo-64x64.png}"/>
            </div>
            <div class="col-md-11 col-xs-10 info-text text-muted small">
                <p>浙 ICP 备 2333 号</p>
                <p>盗版举报电话: 123456789</p>
                <p>Mystery Develop Team 版权所有</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
